.container {
  padding-top: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Image{
  border-radius: 22rem;
  height: 300px;
  width: auto;
}
.div1{
  padding-top: 2rem;
}
